html{
    background:#fafafa
}

.hidden{
    display: none;
}

.box-header .search-input{
    height: 26px;
    border: 1px solid transparent;
    border-radius: 26px;
    padding: 0 12px;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    display: flex;
    align-items: center;
    
}
.box-header .search-input input[name=search-input] {
    border: none;
    outline: none;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    width: 0;
    padding-right: 0;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    
}
.box-header .search-input label{
    display: inline-block;
    font-size: 20px;
    color: #999;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    cursor: pointer;
}
.box-header .search-input:hover{
    border-color: #4e6ef2;
}
.box-header .search-input:hover input[name=search-input]{
    padding-right: 12px;
    width: 108px;
}
.box-header .search-input:hover label{
    color: #4e6ef2;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 26px;
}
.box-header .caption{
    font-size: 16px;
    color: #222;
}
.box-header .actions{
    display: flex;
    align-items: center;
}
.box-header .actions > *{
    margin-left: 10px;
    vertical-align: middle;
}

.box-header .actions > a:not(.btn){
    color: #999;
    font-size: 14px;
    text-decoration: none;
}
.box-header .actions > a:not(.btn):hover{
    color: #4e6ef2
}
.box-header .actions > a.iconfont{
    font-size: 20px;
}

.main-header{
    border: 1px solid #e5e9ef;
    background: #fff;
}
.main-header .bg{
    position: relative;
    height: 200px;
    overflow: hidden;
    /* background-image: url('https://static.zhihu.com/heifetz/assets/guide-cover-1.4423ce0f.jpg'); */

}

.main-header .bg img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 100%;
}
.main-header .information{
    padding: 20px;
    display: flex;
}

.main-header .information .avatar{
    width: 130px;
    height: 130px;
    border: 1px solid #e5e9ef;
    padding: 3px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-top: -65px;
}
.main-header .information .avatar .mask{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.main-header .information .avatar img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main-header .information .info{
    margin-left: 20px;
    flex: 1;
}
.main-header .information .info .name{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}
.main-header .information .info .desc{
    font-size: 14px;
}
.main-header .information .info .desc input[name=desc-text]{
    background: transparent;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #999;
    font-size: 14px;
    font-family: Microsoft Yahei;
    line-height: 30px;
    height: 30px;
    margin-left: -5px;
    padding: 0 5px;
    position: relative;
    top: -1px;
    width: 730px;
    outline: none;
    border: 1px solid transparent
}
.main-header .information .info .desc input[name=desc-text]:hover{
    background: hsla(0,0%,93%,.6);
    box-shadow: 0 0 0 1px hsla(0,0%,90%,.5);
    border: 1px solid #e5e9ef;
}
.main-header .information .info .desc input[name=desc-text]:focus{
    background: #fff;
    box-shadow: inset 0 2px 4px rgba(35,54,86,.3);
    color: #999;
}


.main{
    margin-top: 10px;

    display: flex;
}
.main-left{
    border: 1px solid #e5e9ef;
    padding: 15px 20px;
    padding-top: 0;
    background: #fff;
    flex: 1;
    overflow: hidden;
}
.main-left .title-nav-tab{
    position: relative;
    border-bottom: 3px solid #fafafa;
    display: flex;
    align-items: center;
}
.main-left .title-nav-tab::before{
    content: '';
    width: 21px;
    height: 3px;
    position: absolute;
    left: -21px;
    bottom: -3px;
    background: #fafafa;
}
.main-left .title-nav-tab::after{
    content: '';
    width: 21px;
    height: 3px;
    position: absolute;
    right: -21px;
    bottom: -3px;
    background: #fafafa;
}
.main-left .title-nav-tab li{
    line-height: 44px;
    font-size: 13px;
    margin-right: 30px;
    color: #333;
    cursor: pointer;
    position: relative;
}
.main-left .title-nav-tab li.active,
.main-left .title-nav-tab li:hover{
    color: #2440b3;
}
.main-left .title-nav-tab li.active::after,
.main-left .title-nav-tab li:hover::after{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    left: 0;
    height: 3px;
    background: #2440b3;
}
.main-left .title-nav-content{
    padding-top: 15px;
    display: none;
}
.main-left .title-nav-content.active{
    display: block;
}

.my-project .project-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: 20px;
}

.my-project .project-content .item{
    margin-bottom: 20px;
    position: relative;
    padding-left: 138px;
    width: 50%;
    
}
.my-project .project-content .item .image{
    position: absolute;
    top: 0;
    left: 15px;
    width: 108px;
    height: 108px;
    border-radius: 5px;
    overflow: hidden;
}
.my-project .project-content .item .image img{
    width: 100%;
    height: 100%;
}
.my-project .project-content .item .info .name{
    font-size: 14px;
    color: #222;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 10px;
    height: 40px;
    line-height: 20px;
}
.my-project .project-content .item .info .name a{
    color: #222;
    text-decoration: none;
}
.my-project .project-content .item .info .name a:hover{
    color: #4e6ef2;
}
.my-project .project-content .item .info .package{
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-project .project-content .item .info .package a{
    color :#999;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.my-project .project-content .item .info .package a:hover{
    color :#4e6ef2;
    text-decoration: underline;
}
.my-project .project-content .item .info .package a img{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 6px;
}
.my-project .project-content .item .info .package a span{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-project .project-content .item .info .actions {
    display: flex;
    align-items: center;
}
.my-project .project-content .item .info .actions .btn{
    border-right: 1px solid #e5e9ef;
}
.my-project .project-content .item .info .actions .btn:last-child{
    border-color: transparent;
}


.my-project .project-content.col{
    flex-wrap: nowrap;
    flex-direction: column;
}
.my-project .project-content.col .item{
    width: 100%;
}
.common-info .divider{
    width: 100%;
    height: 0;
    text-align: center;
    border-bottom: 1px solid #e5e9ef;
}
.common-info .divider span{
    position: relative;
    font-size: 12px;
    padding: 0 12px;
    background: #fff;
    line-height: 1;
    top: -12px;
    color: #999;
}
.my-reply.common-info .common-item{
    display: flex;
    border: none;
    /* border-bottom: 1px solid #e5e9ef; */
}
.my-reply.common-info .common-item:last-child{
    border-bottom: none;
}
.my-reply.common-info .common-item .con{
    flex: 1;
    margin-right: 14px;
}
.my-reply.common-info .common-item .con .origin-text{
    color: #999;
    border-left: 2px solid #e7e7e7;
    margin: 6px 0 10px;
    padding-left: 6px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 16px;
}
.my-reply.common-info .common-item .before-con{
    font-size: 14px;
    color :#999;
    line-height: 15px;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.my-common.common-info .common-item{
    padding-top: 50px;
    border: none;
}
.my-common.common-info .common-item .user-avatar{
    top: 50px;
}
.my-common.common-info .common-item .before-con{
    position: absolute;
    top: 20px;
    left: 0;
    padding-left: 70px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 600;
    color :#000;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.my-message .message-item{
    border-bottom: 3px solid #fafafa;
    position: relative;
    padding: 24px 0;
}
.my-message .message-item:first-child{
    padding-top: 4px;
}
.my-message .message-item:last-child{
    border-bottom: none;
    padding-bottom: 14px;
}
.my-message .message-item:last-child::before,
.my-message .message-item:last-child::after{
    display: none;
}
.my-message .message-item::before{
    content: '';
    width: 21px;
    height: 3px;
    position: absolute;
    left: -21px;
    bottom: -3px;
    background: #fafafa;
}
.my-message .message-item::after{
    content: '';
    width: 21px;
    height: 3px;
    position: absolute;
    right: -21px;
    bottom: -3px;
    background: #fafafa;
}
.my-message .message-item .header{
    line-height: 24px;
    font-size: 15px;
    color: #333;
    margin-bottom: 6px;
}
.my-message .message-item .header .title,
.my-message .message-item .header .tag,
.my-message .message-item .header .time{
    vertical-align: middle;
}
.my-message .message-item .header .title{
    font-weight: bold;
}
.my-message .message-item .header .tag{
    display: inline-block;
    font-size: 12px;
    width: 20px;
    line-height: 20px;
    color: #fff;
    background: #ff5d47;
    border-radius: 5px;
    text-align: center;
}
.my-message .message-item .header .time{
    font-size: 13px;
    color: #999;
    margin: 0 10px;
}
.my-message .message-item .info{
    font-size: 14px;
    line-height: 1.625;
    text-indent: 28px;
}
.my-message .message-item .info a{
    color: #4e6ef2;
    text-decoration: none;
}

.my-attention .attention-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 26px;
}
.my-attention .attention-header .caption{
    font-size: 16px;
    color: #222;
}
.my-attention .attention-header .actions{
    display: flex;
    align-items: center;
}
.my-attention .attention-header .actions > *{
    margin-left: 10px;
}

.my-attention .attention-content .attention-item{
    padding: 20px 0;
    border-bottom: 1px solid #e5e9ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-attention .attention-content .attention-item:last-child{
    border: none;
}
.my-attention .attention-content .attention-item .user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.my-attention .attention-content .attention-item .user-avatar img{
    width: 100%;
    height: 100%;
    display: block;
}
.my-attention .attention-content .attention-item .info{
    flex: 1;

}
.my-attention .attention-content .attention-item .info .name{
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-attention .attention-content .attention-item .info .name a{
    color: #4e6ef2;
    text-decoration: none;
}
.my-attention .attention-content .attention-item .info .desc{
    font-size: 12px;
    line-height: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-attention .attention-content .attention-item .actions{
    display: flex;
    margin-left: 25px;
}
.my-attention .attention-content .attention-item .actions > *:first-child{
    margin-left: 0;
}
.my-attention .attention-content .attention-item .actions > *{
    margin-left: 10px;
}

.my-collect .collect-content{
    margin-top: 20px;
}
.my-collect .collect-content .item{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.my-collect .collect-content .item:last-child{
    margin-bottom: 10px;
}
.my-collect .collect-content .item .image{
    width: 130px;
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
}
.my-collect .collect-content .item .image img{
    width: 100%;
    height: auto;
    display: block;
}
.my-collect .collect-content .item .info{
    flex: 1;
    overflow: hidden;
}
.my-collect .collect-content .item .info .name{
    font-size: 18px;
    margin-bottom: 10px;
    
}
.my-collect .collect-content .item .info .name a{
    color: #222;
    text-decoration: none;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.my-collect .collect-content .item .info .name a:hover{
    color: #4e6ef2;
}
.my-collect .collect-content .item .info .desc{
    font-size: 13px;
    line-height: 18px;
    color: #333;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.my-collect .collect-content .item .info .version{
    font-size: 13px;
    color: #999;
    margin-bottom: 5px;
}
.my-collect .collect-content .item .info .light{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.my-collect .collect-content .item .info .version .tag{
    margin-left: 10px;
}
.my-collect .collect-content .item .info .more{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-collect .collect-content .item .info .more .user{
    display: flex;
    align-items: center;
    line-height: 26px;
}
.my-collect .collect-content .item .info .more .user .avatar{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}
.my-collect .collect-content .item .info .more .user .avatar img{
    display: block;
    width: 100%;
    height: 100%;
}
.my-collect .collect-content .item .info .more .user .user-name{
    color: #626675;
    text-decoration: none;
    font-size: 13px;

}
.my-collect .collect-content .item .info .more .user .user-name:hover{
    color: #4e6ef2;
}
.my-collect .collect-content .item .info .more .time{
    font-size: 13px;
    color: #999;
}
.my-collect .collect-content .item .actions{
    line-height: 130px;
    margin-left: 20px;
}

.main-right{
    width: 250px;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #e5e9ef;
}