<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
</head>
<body>
    <div class="public-header">
        <div class="caption">
            <a href="javascript:vodi(0)" class="logo"><img src="/assets/logo.png" alt=""></a>
            <div class="search-form">
                <div class="keyword-warpper">
                    <input type="text" name="keyword" autocomplete="off" placeholder="富婆真的不买ZARA吗？">
                </div>
                <div class="search-slide-down">
                    <div class="slide-down-text">
                        <span class="text">全部</span>
                        <i class="i-drop"></i>
                    </div>
                    <div class="slide-down-list">
                        <ul>
                            <li class="slide-down-item">
                                <span>
                                    <i>口</i>
                                    <span>文字</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <a href="javascript:void(0)" class="search-btn">搜索</a>
            </div>
        </div>

        <div class="actions">
            <ul>
                <li>
                    <a href="javascript:void(0)">换肤</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="image"><img src="/assets/avatar.gif" alt=""></span>
                        <span>小时候贼贱</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="public-container">
        <div class="main-header">
            <div class="bg">
                <img src="https://static.zhihu.com/heifetz/assets/guide-cover-1.4423ce0f.jpg" alt="">
            </div>
            <div class="information">
                <div class="avatar">
                    <div class="mask">
                        <input type="file" name="avatar-file">
                    </div>
                    <img src="/assets/avatar.gif" alt="">
                </div>
                <div class="info">
                    <p class="name">我哥是个低能儿</p>
                    <div class="desc">
                        <input type="text" name="desc-text" placeholder="编辑个性签名" value="不专业，不客观，不中立，不跪舔不专业，不客观，不中立，不跪舔">
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-left">
                <ul class="title-nav-tab">
                    <li>我上传的</li>
                    <li>回复我的</li>
                    <li>评论我的</li>
                    <li>消息通知</li>
                    <li class="active">我关注的</li>
                    <li>关注我的</li>
                </ul>

                <!-- 我上传的 -->
                <div class="title-nav-content">
                    <div class="my-project">
                        <div class="header">
                            <div class="caption">
                                <div class="search-input">
                                    <input type="text" name="search-input" placeholder="搜索包名">
                                </div>
                            </div>
                            <div class="actions">
                                <!-- <a href="javascript:void(0)">按时间排序</a> -->
                                <a href="javascript:void(0)">横向</a>
                                <a href="javascript:void(0)">纵向</a>
                                <div class="btn btn-primary">新创建</div>
                            </div>
                        </div>
                        <!-- 默认横向 col纵向 -->
                        <div class="project-content">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/image.jpg" alt="">
                                </div>
                                <div class="info">
                                    <p class="name">赛博朋克2077紫色不朽动能狙</p>
                                    <p class="package"><a href="javascript:void(0)"><img src="/assets/avatar.gif"/><span>VS2010Schemas.zip</span></a></p>
                                    <div class="actions">
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">查看详情</a>
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">编辑</a>
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">删除</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/image.jpg" alt="">
                                </div>
                                <div class="info">
                                    <p class="name">赛博朋克2077紫色不朽动能狙击枪在哪-紫色不朽动能狙击枪获取位置介绍</p>
                                    <p class="package"><a href="javascript:void(0)"><img src="/assets/avatar.gif"/><span>VS2010Schemas.zip</span></a></p>
                                    <div class="actions">
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">查看详情</a>
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">编辑</a>
                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 回复我的 -->
                <div class="title-nav-content">
                    <div class="my-reply common-info">
                        <div class="common-item">
                            <a class="user-avatar" href="javascript:void(0)">
                                <img src="/assets/avatar.gif" alt="">
                            </a>

                            <div class="con">
                                <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                <div class="more">
                                    <span>2020-12-16 22:06</span>
                                    <a href="javascript:void(0)"><i>赞</i><span>36</span></a>
                                    <a href="javascript:void(0)"><i>不赞</i><span>0</span></a>
                                    <a href="javascript:void(0)">回复</a>
                                </div>
                            </div>
                            <div class="before-con">
                                应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡
                            </div>
                        </div>
                        <div class="divider"><span>昨天</span></div>
                    </div>
                </div>
                <!-- 评论我的 -->
                <div class="title-nav-content">
                    <div class="my-common common-info">
                        <div class="common-item">
                            
                            <a class="user-avatar" href="javascript:void(0)">
                                <img src="/assets/avatar.gif" alt="">
                            </a>

                            <div class="con">
                                <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                <div class="more">
                                    <span>2020-12-16 22:06</span>
                                    <a href="javascript:void(0)"><i>赞</i><span>36</span></a>
                                    <a href="javascript:void(0)"><i>不赞</i><span>0</span></a>
                                    <a href="javascript:void(0)">回复</a>
                                </div>
                            </div>
                            <div class="before-con">
                                应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡
                            </div>
                        </div>
                        <div class="divider"><span>昨天</span></div>
                        <div class="common-item">
                            
                                <a class="user-avatar" href="javascript:void(0)">
                                    <img src="/assets/avatar.gif" alt="">
                                </a>
    
                                <div class="con">
                                    <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                    <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                    <div class="more">
                                        <span>2020-12-16 22:06</span>
                                        <a href="javascript:void(0)"><i>赞</i><span>36</span></a>
                                        <a href="javascript:void(0)"><i>不赞</i><span>0</span></a>
                                        <a href="javascript:void(0)">回复</a>
                                    </div>
                                </div>
                                <div class="before-con">
                                    应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡
                                </div>
                        </div>
                    </div>
                </div>
                <!-- 消息通知 -->
                <div class="title-nav-content">
                    <div class="my-message">
                        <div class="message-item">
                            <div class="header">
                                <span class="tag">新</span>
                                <span class="title">今晚18:00「B站国创动画发布会」直播即将开启！</span>
                                <span class="time">2020年11月21日 17:30</span>
                            </div>
                            <div class="info">
                                <span class="text"><span>凡人修仙传、定海浮生录、银河之心、恰同学少年等三十余部动画作品最新情报大公开！还有黄龄等嘉宾带来的精彩表演。快来锁定“哔哩哔哩国创”直播间。看直播，抽惊喜好礼&gt;&gt;
                                <a href="https://live.bilibili.com/3975199" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                追番戳&gt;&gt;
                                <a href="https://www.bilibili.com/blackboard/topic/activity-2020mbbm.html" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                </span></span>
                            </div>
                        </div>

                        <div class="message-item">
                            <div class="header">
                                <span class="tag">新</span>
                                <span class="title">今晚18:00「B站国创动画发布会」直播即将开启！</span>
                                <span class="time">2020年11月21日 17:30</span>
                            </div>
                            <div class="info">
                                <span class="text"><span>凡人修仙传、定海浮生录、银河之心、恰同学少年等三十余部动画作品最新情报大公开！还有黄龄等嘉宾带来的精彩表演。快来锁定“哔哩哔哩国创”直播间。看直播，抽惊喜好礼&gt;&gt;
                                <a href="https://live.bilibili.com/3975199" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                追番戳&gt;&gt;
                                <a href="https://www.bilibili.com/blackboard/topic/activity-2020mbbm.html" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                </span></span>
                            </div>
                        </div>

                        <div class="message-item">
                            <div class="header">
                                <span class="tag">新</span>
                                <span class="title">今晚18:00「B站国创动画发布会」直播即将开启！</span>
                                <span class="time">2020年11月21日 17:30</span>
                            </div>
                            <div class="info">
                                <span class="text"><span>凡人修仙传、定海浮生录、银河之心、恰同学少年等三十余部动画作品最新情报大公开！还有黄龄等嘉宾带来的精彩表演。快来锁定“哔哩哔哩国创”直播间。看直播，抽惊喜好礼&gt;&gt;
                                <a href="https://live.bilibili.com/3975199" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                追番戳&gt;&gt;
                                <a href="https://www.bilibili.com/blackboard/topic/activity-2020mbbm.html" target="_blank" class="im-dynamic-link">
                                    <i class="bp-icon-font icon-link"></i> 网页链接
                                </a>
                                </span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 我关注的 -->
                <div class="title-nav-content active">
                    <div class="my-attention">
                        <div class="attention-header">
                            <div class="caption"><span>全部关注</span></div>
                            <div class="actions">
                                <div class="search-input">
                                    <input type="text" name="search-input">
                                </div>
                                <a href="javascript:void(0)" class="btn btn-primary btn-sm">批量操作</a>
                            </div>
                        </div>
                        <div class="attention-content">
                            <div class="attention-item">
                                <a href="javascript:void(0)" class="user-avatar">
                                    <img src="/assets/avatar.gif" alt="">
                                </a>
                                <div class="info">
                                    <p class="name">宇宙无敌韩三金</p>
                                    <div class="desc">bilibili 知名影视UP主</div>
                                </div>
                                <div class="actions">
                                    <a href="javascript:void(0)">已关注</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="main-right"></div>
        </div>
    </div>
    <div class="public-footer"></div>
</body>
</html>