html{
    background:#fafafa;
}
[contenteditable=true] {
    -webkit-user-modify:read-write-plaintext-only;
    position: relative;
}
[contenteditable=true]:empty::after {
    content: attr(placeholder);
    position: absolute;
    top: 8px;
    left: 12px;
    color: #a9a9a9;
}
.main{
    /* height: 100px; */
    border: 1px solid #e5e9ef;
    background: #fff;
    padding: 20px;
}

.main .upload-form{
    margin-top: 120px;
    padding-bottom: 50px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}
.main .upload-form.active{
    display: flex;
}
.main .upload-form .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #f6f6f6;
    margin-bottom: 30px;
}
.main .upload-form .icon .hint-icon{
    width: 75px;
    height: 75px;
    color: #8590a6;
}
.main .upload-form .text{
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #444;
    margin-bottom: 20px;
}
.main .upload-form .btn{
    padding: 0 30px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 140px;
}
.main .upload-form .tip{
    font-size: 13px;
    color: #999;
    line-height: 1.625
}
.main .upload-form .tip a{
    color: #4e6ef2;
    text-decoration: none;
}
.main .upload-form .tip a:hover{
    text-decoration: underline;
}

.main .editor-form{
    width: 80%;
    margin-left: 10%;
    padding: 20px 0;
    display: none;
}
.main .editor-form .classify-title{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.main .editor-form .classify-title .tip{
    margin-left: 10px;
    font-size: 14px;
    color: #999;
}
.main .editor-form .classify-title a{
     color: #4e6ef2;
}
.main .editor-form .form-item{
    margin-bottom: 20px;
}
.main .editor-form .form-item .form-label{
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
    color: #333;
}
.main .editor-form .form-item .form-label .required{
    color: #fc403c;
    margin-right: 4px;
}
.main .editor-form .form-item .form-label .tip{
    color: #999;
    margin-left: 4px;
    font-weight: normal;
    font-size: 13px;
}
.main .editor-form .form-item .form-content .form-control{
    border-radius: 5px;
    border: 1px solid #e5e9ef;
    padding: 8px 12px;
    font-size: 14px;
    background: #fff;
    outline: none;
    width: 100%;
    resize: none;
}

.main .editor-form .form-item .form-content .form-control:focus,
.main .editor-form .form-item .form-content .form-control:hover{
    border-color: #4e6ef2;
}

.main .editor-form .form-item .form-content .max-length{
    position: relative;
}
.main .editor-form .form-item .form-content .max-length .form-control{
    padding-right: 70px;
}
.main .editor-form .form-item .form-content .max-length .length{
    position: absolute;
    line-height: 34px;
    right: 17px;
    top: 0;
    font-size: 13px;
    color: #999;
}
.main .editor-form .form-item .form-content .image-warpper{
    display: flex;
    flex-wrap: wrap;
}
.main .editor-form .form-item .form-content .image-warpper .image-item{
    width: 150px;
    min-height: 150px;
    margin-right: 15px;
    position: relative;
}
.main .editor-form .form-item .form-content .image-warpper .image-item img{
    width: 100%;
    display: block;
}
.main .editor-form .form-item .form-content .image-warpper .image-item .opacity{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #333;
    height: 30px;
    font-size: 14px;
    display: flex;
    border-radius: 5px 0 0 0;
}
.main .editor-form .form-item .form-content .image-warpper .image-item .opacity a{
    color: #fff;
    line-height: 30px;
    display: block;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.main .editor-form .form-item .form-content .image-warpper .image-item .opacity a:hover{
    color: #999;
}
.main .editor-form .form-item .form-content .image-warpper .image-item .opacity a:first-child{
    border: none;
}
.main .editor-form .form-item .form-content .image-warpper .image-item.image-upload{
    border: 1px dashed #e5e9ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999;
    transition: all .2s linear;
    cursor: pointer;
}
.main .editor-form .form-item .form-content .image-warpper .image-item.image-upload:hover{
    color: #4e6ef2;
    border-color: #4e6ef2;
}
.main .editor-form .form-item .form-content .image-warpper .image-item.image-upload input[name=file]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.main .editor-form .form-item.base-tag .form-content{
    display: flex;
    align-items: flex-start;
}
.main .editor-form .form-item.base-tag .form-content .tag-input{
    flex: 1;
}
.main .editor-form .form-item.base-tag .form-content .tag-input .vessel{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13px;
    padding-top: 13px;
    overflow: auto;
    max-height: 200px;
}
.main .editor-form .form-item.base-tag .form-content .tag-input .vessel .tag{
    color: #fff;
    background: #4e6ef2;
    font-size: 13px;
    border-radius: 50px;
    line-height: 30px;
    margin-left: 13px;
    padding: 0 18px;
    margin-bottom: 13px;
    cursor: pointer;
    user-select:none;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend{
    width: 450px;
    margin-left: 15px;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    border-bottom: 1px solid #e5e9ef;
    padding: 0 13px;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .caption{
    font-size: 14px;
}

.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input{
    height: 26px;
    border: 1px solid transparent;
    border-radius: 26px;
    padding: 0 12px;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    display: flex;
    align-items: center;
    
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input input[name=search-input] {
    border: none;
    outline: none;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    width: 0;
    padding-right: 0;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input label{
    display: inline-block;
    font-size: 20px;
    color: #999;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    cursor: pointer;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input:hover{
    border-color: #4e6ef2;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input:hover input[name=search-input]{
    padding-right: 12px;
    width: 108px;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-header .actions .search-input:hover label{
    color: #4e6ef2;
}


.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
    padding-right: 13px;
    overflow: auto;
    max-height: 200px;
}

.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-content .tag{
    border: 1px solid #e5e9ef;
    color: #333;
    font-size: 13px;
    border-radius: 50px;
    line-height: 30px;
    margin-left: 13px;
    padding: 0 18px;
    margin-bottom: 13px;
    cursor: pointer;
    user-select:none;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-content .tag:hover{
    background: #fafafa;
    color: #4e6ef2;
}
.main .editor-form .form-item.base-tag .form-content .tag-recommend .recommend-content .tag.disabled{
    background: #f4f5f7;
    border: none;
}

.main .editor-form .form-item.base-editor .form-label{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 25px;
}
.main .editor-form .form-item.base-editor .form-label .nav-item{
    background-color: transparent;
    padding: 8px 0;
    margin-right: 16px;
    margin-left: 16px;
    border-bottom: 1px solid transparent;
    position: relative;
    float: left;
    cursor: pointer;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #222;
    margin-bottom: -1px;
}
.main .editor-form .form-item.base-editor .form-label .nav-item.active{
    border-color: #4e6ef2;
    color: #4e6ef2;
    position: relative;
}
.main .editor-form .form-item.base-editor .form-label .nav-item.active::after{
    content: '';
    width: 0px;
    height: 0px;
    border: 3px solid #4e6ef2;
    border-color: transparent transparent #4e6ef2 transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
.main .editor-form .form-item.base-editor .form-label .nav-item:first-child{
    margin-left: 0;
}

.main .editor-form .form-item.base-editor .editor{
    border: 1px solid #e5e9ef;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    min-height: 200px;
    font-size: 15px;
    position: relative;
    -webkit-user-modify:read-write-plaintext-only;
}
.main .editor-form .form-item.base-editor .editor:empty::after{
    content: attr(placeholder);
    position: absolute;
    top: 12px;
    left: 12px;
    color: #a9a9a9;
}
.main .editor-form .form-item.base-editor .editor:hover,
.main .editor-form .form-item.base-editor .editor:focus{
    border-color: #4e6ef2;
}

.main .editor-form .form-item.base-version .form-content{
    display: flex;
}
.main .editor-form .form-item.base-version .form-content .version{
    flex: 1;
}
.main .editor-form .form-item.base-version .form-content .version .tip-list{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    list-style: disc;
    padding-left: 16px;
}
.main .editor-form .form-item.base-version .form-content .version .tip-list li{
    list-style: disc;
    line-height: 1.625;
}
.main .editor-form .form-item.base-version .form-content .base{
    width: 585px;
    margin-left: 15px;
}
.main .editor-form .form-item.base-version .form-content .base div[contenteditable=true] {
    min-height: 150px;
}

.main .editor-form .form-item.base-confirm .form-content{
    display: flex;
}
.main .editor-form .form-item.base-confirm .form-content > *{
    margin-right: 10px;
}





.main .editor-form .form-item.upload-item .form-label{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.main .editor-form .form-item.upload-item .form-content{
    display: flex;
    align-items: center;
    padding: 0 0 16px;
    border-bottom: 1px solid #e5e9ef;
}
.main .editor-form .form-item.upload-item .form-content .file-icon{
    width: 42px;
    height: 30px;
    margin-right: 20px;
}
.main .editor-form .form-item.upload-item .form-content .file-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .editor-form .form-item.upload-item .form-content .file-content{
    flex: 1;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-title .caption{
    font-size: 14px;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-info{
    font-size: 12px;
    color:  #999;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-info > *{
    margin-right: 20px;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-info > .i{
    margin-right: 6px;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-info img{
    display: block;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-progress{
    background: #e7e7e7;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.main .editor-form .form-item.upload-item .form-content .file-content .file-progress .progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: #43ce5b;
    width: 50%;
}


.main .upload-form.active{
    display: flex;
}
.main .editor-form.active{
    display: block;
}


