<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="public-header">
        <div class="caption">
            <a href="javascript:vodi(0)" class="logo"><img src="/assets/logo.png" alt=""></a>
            <div class="search-form">
                <div class="keyword-warpper">
                    <input type="text" name="keyword" autocomplete="off" placeholder="富婆真的不买ZARA吗？">
                </div>
                <div class="search-slide-down">
                    <div class="slide-down-text">
                        <span class="text">全部</span>
                        <i class="i-drop"></i>
                    </div>
                    <div class="slide-down-list">
                        <ul>
                            <li class="slide-down-item">
                                <span>
                                    <i>口</i>
                                    <span>文字</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <a href="javascript:void(0)" class="search-btn">搜索</a>
            </div>
        </div>

        <div class="actions">
            <ul>
                <li>
                    <a href="javascript:void(0)">换肤</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="image"><img src="/assets/avatar.gif" alt=""></span>
                        <span>小时候贼贱</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="public-container">
        <div class="main">
            <h3 class="package-title">
                <span class="name">王老菊】半泽龙骨 | 恶魔之魂重制版08</span>
            </h3>

            <div class="package-more">
                <a class="download" href="javascript:void(0)">
                    <i class="iconfont icon-download"></i>下载<span class="times">下载<span class="times">(21)</span>                                    
                </a>

                <a class="like" href="javascript:void(0)">
                    <i class="iconfont icon-good"></i>点赞<span class="times">(16)</span>  
                </a>

                <a class="save" href="javascript:void(0)">
                    <i class="iconfont icon-favorite"></i>收藏<span class="times">(16)</span>  
                </a>
            </div>

            <div class="group package-desc">
                <label class="group-label">插件包简介：</label>
                <div class="group-content">
                        本插件实现了uniapp下监听耳机按键消息的功能，主要监听的是安卓下广播的ACTION_MEDIA_BUTTON消息。我在最初测试的时候，发现使用uniapp的广播消息监听方法并不能很好的监听耳机按键消息，这是由于耳机消息的特殊性质决定的。就是必须要在程序里用AudioManager对象去注册消息监听，所以我封装了一个插件。
                </div>
            </div>

            <div class="group package-label">
                <label class="group-label">插件包标签：</label>
                <ul class="group-content">
                    <li>国内新闻</li>
                    <li>国内新闻</li>
                    <li>国内</li>
                    <li>国内新闻</li>
                </ul>
            </div>

            <div class="group package-size">
                <label class="group-label">插件包体积：</label>
                <div class="group-content">64KB</div>
            </div>

            <div class="group package-size">
                <label class="group-label">插件包版本：</label>
                <div class="group-content">1.12.1</div>
            </div>

            <div class="group package-datetime">
                <label class="group-label">包更新日期：</label>
                <div class="group-content">2010-12-25</div>
            </div>

            <div class="group package-image">
                <label class="group-label">包展示图片：</label>
                <div class="group-content">
                    <div class="image-item">
                        <img src="/assets/image.jpg" alt="">
                    </div>
                    <div class="image-item">
                        <img src="/assets/image.jpg" alt="">
                    </div>
                    <div class="image-item">
                        <img src="/assets/image.jpg" alt="">
                    </div>
                </div>
            </div>


            <div class="package-nav-tab">
                <div class="nav-tab">
                    <ul>
                        <li>插件包说明</li>
                        <li>版本说明</li>
                        <li class="active">评论（99）</li>
                    </ul>
                </div>
                
                <!-- 插件包说明 -->
                <div class="nav-content">
                    <div id="editor" class="markdown-body"></div>
                </div>
                <!-- 版本说明 -->
                <div class="nav-content">
                    <ul class="version-info">
                        <li>
                            <div class="info-header">
                                <div class="title">版本：<b>1.2.0</b> <span>更新时间：2020-11-11</span></div>
                                <div class="btn-list">
                                    <a href="javascript:void(0)" class="btn btn-primary">下载</a>
                                    <a href="javascript:void(0)" class="btn">查看详细</a>
                                </div>
                            </div>
                            <div class="info-content">
                                <div id="editor2" class="markdown-body"></div>
                            </div>
                        </li>

                        <li>
                            <div class="info-header">
                                <div class="title">版本：<b>1.2.0</b> <span>更新时间：2020-11-11</span></div>
                                <div class="btn-list">
                                    <a href="javascript:void(0)" class="btn btn-primary">下载</a>
                                    <a href="javascript:void(0)" class="btn">查看详细</a>
                                </div>
                            </div>
                            <div class="info-content">
                                <div id="editor2" class="markdown-body"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 评论 -->
                <div class="nav-content active">
                    <ul class="common-info">
                        <li class="common-item">
                            <a class="user-avatar" href="javascript:void(0)">
                                <img src="/assets/avatar.gif" alt="">
                            </a>

                            <div class="con">
                                <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                <div class="text">
                                    <div id="editor3" class="markdown-body"></div>
                                </div>
                                <div class="more">
                                    <span>2020-12-16 22:06</span>
                                    <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                    <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                    <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                </div>
                            </div>

                            <ul class="reply-info">

                                <li class="common-item">
                                    <a class="user-avatar" href="javascript:void(0)">
                                        <img src="/assets/avatar.gif" alt="">
                                    </a>
        
                                    <div class="con">
                                        <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                        <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                        <div class="more">
                                            <span>2020-12-16 22:06</span>
                                            <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="common-item">
                                    <a class="user-avatar" href="javascript:void(0)">
                                        <img src="/assets/avatar.gif" alt="">
                                    </a>
        
                                    <div class="con">
                                        <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                        <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                        <div class="more">
                                            <span>2020-12-16 22:06</span>
                                            <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </li>

                        <li class="common-item">
                            <a class="user-avatar" href="javascript:void(0)">
                                <img src="/assets/avatar.gif" alt="">
                            </a>

                            <div class="con">
                                <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                <div class="more">
                                    <span>2020-12-16 22:06</span>
                                    <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                    <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                    <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                </div>
                            </div>

                            <ul class="reply-info">

                                <li class="common-item">
                                    <a class="user-avatar" href="javascript:void(0)">
                                        <img src="/assets/avatar.gif" alt="">
                                    </a>
        
                                    <div class="con">
                                        <p class="name"><a href="javascript:void(0)">新用户6767647</a>&nbsp;&nbsp;回复&nbsp;&nbsp;<a class="reply" href="javascript:void(0)">@新用户6767647</a></p>
                                        <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                        <div class="more">
                                            <span>2020-12-16 22:06</span>
                                            <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="common-item">
                                    <a class="user-avatar" href="javascript:void(0)">
                                        <img src="/assets/avatar.gif" alt="">
                                    </a>
        
                                    <div class="con">
                                        <p class="name"><a href="javascript:void(0)">新用户6767647</a></p>
                                        <p class="text">应该是真人，向前抬脚和向后小挪步这个小动作，上身动作平稳，腰胯部先不说传感器精度，机械精度细微都会引起自平衡调节上的盲区，这些平衡自调节参数和程序算法再完美都避免不了机械精度和传感器精度带来的抖动吧（个人观点分析，有错请指出，勿喷）</p>
                                        <div class="more">
                                            <span>2020-12-16 22:06</span>
                                            <a href="javascript:void(0)"><i class="iconfont icon-good"></i><span>36</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-bad"></i><span>0</span></a>
                                            <a href="javascript:void(0)"><i class="iconfont icon-edit"></i> 回复</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="right-content">
            <div class="user-info">
                <a class="avatar" href="javascript:void(0)">
                    <img src="/assets/avatar.gif" alt="">
                </a>
                <div class="info">
                    <a class="name" href="javascript:void(0)">的监听耳机按键消息，这是由于耳机消息的特殊性</a>
                    <p class="signature">不专业，不客观，不中立，不跪舔不专业，不客观，不中立，不跪舔</p>
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="iconfont icon-add-bold"></i> 关注</a>
                </div>
            </div>

            <div class="btn-groups">
                <a class="download btn btn-lg btn-primary" href="javascript:void(0)"><i class="iconfont icon-download"></i> 下载插件</a>
                <a class="download btn btn-lg btn-primary" href="javascript:void(0)"><i class="iconfont icon-picture"></i> 查看示例</a>
                <p class="cut-title">大家的支持，才是作者最大的动力</p>
                <a class="download btn btn-lg btn-empty btn-error" href="javascript:void(0)"><i class="iconfont icon-good"></i> 点赞（32）</a>
                <a class="download btn btn-lg btn-empty btn-error" href="javascript:void(0)"><i class="iconfont icon-favorite"></i> 收藏（34）</a>
            </div>

            <div class="productions-info">
                <p class="title">
                    <span class="caption">作者作品</span>
                    <span class="actions">
                        <a href="javascript:void(0)">更多   <i class="iconfont icon-arrow-double-right"></i></a>
                    </span>
                </p>

                <div class="info">
                    <ul>
                        <li class="info-item">
                            <a class="image" href="javascript:void(0)"><img src="/assets/image.jpg" alt=""></a>
                            <div class="content">
                                <p class="name"><a href="javascript:void(0)">的监听耳机按键消息，这是由于耳机消息的特殊性</a></p>
                                <div class="desc">不专业，不客观，不中立，不跪舔不专业，不客观，不中立，不跪舔</div>
                                <div class="package-more">
                                    <a class="download" href="javascript:void(0)">
                                        <i class="iconfont icon-download"></i>下载(21)
                                    </a>
                
                                    <a class="like" href="javascript:void(0)">
                                        <i class="iconfont icon-good"></i>点赞(16)
                                    </a>
                
                                    <a class="save" href="javascript:void(0)">
                                        <i class="iconfont icon-favorite"></i>收藏(32)
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="public-footer">
        <textarea name="" id="textarea" cols="30" rows="10"></textarea>
        <button id="btn">sdfasdfa</button>
    </div>
</body>
</html>